body,html {
    height: 100%;
    width: 100%;
  }

.mvh-100 {
    min-height: 100vh;
}

.align-center {
    text-align: center;
}

.club-name {
    font-style: normal;
    line-height: 1.2;
    font-size: 3.6rem;
}

.club-container {
    background-color: #555555BF;
    color: white;
    text-align: center;
}